/* Colors */

$color-body-text: #333333;
$color-body-text--light: #666;
$color-body-text--darkmode: #fff;
$color-body-background: #fff;
$color-body-background--dark: #f0f0f0;

$color-primary: #66E2BD;
$color-secondary: #8366e2;
$color-black: #000;
$color-grey: #666;
$color-white: #fff;