@import "_reset.scss";
@import "_colors.scss";
@import "_functions.scss";
@import "_mixins.scss";

:root {
  // text
  --font-size--xxl: 40px;
  --font-size--xl: 32px;
  --font-size--l: 24px;
  --font-size--m: 20px;
  --font-size--s: 16px;
  --font-size--xs: 14px;
  --font-size--xxs: 10px;

  @media only screen and (min-width: 600px) {
    --font-size--xxl: 48px;
    --font-size--xl: 40px;
    --font-size--l: 36px;
    --font-size--m: 20px;
    --font-size--s: 16px;
    --font-size--xs: 14px;
    --font-size--xxs: 10px;
  }

  // spacing
  --spacing-l: 30px;
  --spacing-m: 20px;
  --spacing-s: 10px;
  --spacing-xs: 5px;
}
